<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DisplaySeconds" title="@Strings.DisplaySecondsTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DisplaySecondTimezone" title="@Strings.DisplaySecondTimezoneTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.SecondTimezoneOffset" title="@Strings.SecondTimezoneOffsetTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.DisplayStepsIndicator" title="@Strings.DisplayStepsIndicatorTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DisplayMoveIndicator" title="@Strings.DisplayMoveIndicatorTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DisplayBatteryIndicator" title="@Strings.DisplayBatteryIndicatorTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.OverGoalWrap" title="@Strings.OverGoalWrapTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UseZenMode" title="@Strings.UseZenModeTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
